/*FONTS*/
@font-face {
  font-family: "Gilmer-bold";
  src: url("Fonts/gilmer-bold.woff");
}
@font-face {
  font-family: "Gilmer-regular";
  src: url("Fonts/gilmer-regular.woff");
}
@font-face {
  font-family: "Gilmer-medium";
  src: url("Fonts/gilmer-medium.woff");
}
@font-face {
  font-family: "Noah-bold";
  src: url("Fonts/Noah Head Black.otf");
}
@font-face {
  font-family: "Noah-medium";
  src: url("Fonts/Noah Head Medium.otf");
}


.container{
  margin: 3% 10%;
}

.comment{ 
  font-family: "Gilmer-medium";
  background: white;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.commentClicked{
  min-height: 0px; 
  border: 1px solid #eee; 
  border-radius: 5px; 
  padding: 5px 10px}

textarea{
  width: 90%; 
  font-family: "Gilmer-bold";
  border: none; 
  background: #E8E8E8; 
  padding: 5px 10px; 
  height: 90%;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 5px; 
  transition: all 0.5s;margin-top: 15px;
}

button.primaryContained{ 
  background: #7785FF; 
  color: #fff; 
  padding: 10px 10px; 
  font-family: "Gilmer-bold";
  font-size: 1.3rem;
  border: none; 
  margin-top: 0px; 
  cursor: pointer; 
  text-transform: uppercase; 
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25); 
  transition: 1s all; 
  border-radius: 5px;
}

button.primaryContained:hover{ 
  background: #6838F2; 
}


/*General*/
*{
	padding: 0px;
	margin: 0px;
  outline:none;
}
h1{
	font-family: "Noah-bold", sans-serif;
	font-size:7rem;
	color: white;
  margin: 0% 10%;
  text-align: center;
}
.yellow{
  display: inline-block;
  color: #FCFF77;
}
.tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltiptext{
  font-size: 1rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

nav{
	padding: 10px 10px 10px 0px;
}
h2{
	font-family: "Gilmer-bold", sans-serif;
	text-align: center;
  font-size:1.8rem;
  color: white;
  margin: auto 15%;
}
#home h1, #home h2, #home p{
  text-align: left;
  margin: 0% 10%;
}
#home h1{
  font-size:7rem;
}
#home h2{
  width: 60%;
  font-size:2.5rem;
}
 nav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 4%;
}

nav li {
	float: left;
}

nav li a{
	font-family: "Gilmer-bold", sans-serif;
	display: block;
  color: white;
	padding: 14px 30px;
	font-size: 1.4rem;
	text-decoration: none;
}
.form-popup h2{
	text-shadow: none;
}
li a:hover{
  color: #FFAFDA;
}
.on{
  color: #FFD9ED;
}
/*end of general*/
/*HOME*/
#img-div{
  position: absolute;
  z-index: -2;
  width: 100%;
}
#main-img{
  position: absolute;
  width: 100%;
}
#purpose{
  position: absolute;
  margin-top: 45%;
  margin-left: 45%;

}
#purpose p{
  font-family: "Noah-medium", sans-serif;
  font-size: 2rem;
  width: 70%;
  margin-left: 10%;
  color: white;
}
#purpose h2{
  font-family: "Noah-bold", sans-serif;
  font-size: 5rem;
  color: #FCFF77;
}
/*end of home*/
/*JOBS*/
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 11;
}
.apply{
  width: 600px;
  top: 20%;
  left: 29%;
  border: none;
}
label{
	font-size: 1.2rem;
}
/* Add styles to the form container */
.open-button{
	font-family: "Gilmer-medium", sans-serif;
	font-size: 1rem;
	border-radius: 40px;
	padding: 20px;
}
.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
  font-family: "Gilmer-medium", sans-serif;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border-radius: 20px;
  background: green;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border-radius: 20px;
  background: green;
  cursor: pointer;
}
.form-popup button{
	font-family: "Gilmer-medium", sans-serif;
	font-size: 1rem;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  font-family: "Gilmer-medium", sans-serif;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#job-grid{
	margin: 0% 5%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
#job-grid div{
	background-color: yellow;
	padding: 30px;
	border-radius: 20px;
  text-align: center;
}
#job-grid div:hover{
  filter: brightness(.9);
}
#job-grid div:click{
  filter: brightness(.1);
}
button{
  background-color: yellow;
  border: none;
}
.donate-text{
  position: absolute;
  visibility: hidden;
  color: #FF38A4;
  left: 0px;
  top: 60px;
  z-index: 10;
  -webkit-stroke-width: 2px black;
  font-family: "Noah-bold";
  font-size: 3rem;
}
#job-grid div:hover .donate-text{
  visibility: visible;
}
#job-grid div:hover p{
  visibility: hidden;
}
.money{
	font-family: "Gilmer-bold", sans-serif;
	font-size: 3rem;
	padding: 0px;
	margin: 5px 0px 0px 0px;
}
.business-name{
	font-family: "Gilmer-medium", sans-serif;
	font-size: 1.7rem;
  padding: 3% 0%;
  text-decoration: underline;
}
.business-description{
	font-family: "Gilmer-medium", sans-serif;
	font-size: 1.3rem;
}
/*end of jobs*/